/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(255, 90%, 60%)
      Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
      Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> Click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */
  --hue: 210;
  --first-color: hsl(var(--hue), 90%, 50%);
  --first-color-alt: hsl(var(--hue), 82%, 56%);
  --first-color-light: hsl(var(--hue), 40%, 80%);
  --title-color: hsl(var(--hue), 24%, 16%);
  --text-color: hsl(var(--hue), 8%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 60%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 90%, 30%, 0.1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== Default Settings ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav_sections {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  color: var(--white-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.4s;
}
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue), 24%, 85%);
  --text-color: hsl(var(--hue), 8%, 70%);
  --body-color: hsl(var(--hue), 16%, 8%);
  --container-color: hsl(var(--hue), 16%, 12%);
  --shadow-color: hsla(var(--hue), 32%, 4%, 0.4);
}
/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .bg-header {
  box-shadow: 0 12px 24px var(--shadow-color);
}

.dark-theme .services_modal {
  background-color: hsla(var(--hue), 90%, 8%, 0.2);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 16%, 35%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.perfil {
  width: 250px;
  height: 250px;
  background: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.4s;
}

.perfil_content {
  width: 180px;
  height: 180px;
  border: 10px solid var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(180deg, rgb(181, 158, 250), rgb(42, 8, 145)); */
}
.perfil_img {
  width: auto;
}
.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color 0.4s, box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav_toggle,
.nav_close {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav_toggle {
  color: var(--white-color);
  transition: color 0.4s;
}

.nav_close {
  color: var(--title-color);
}
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 12px 24px var(--shadow-color);
    padding-block: 5rem 4rem;
    transition: top 0.4s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav_link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}
/* Change background header */
.bg-header {
  background: var(--body-color);
  box-shadow: 0 2px 16px var(--shadow-color);
}

.bg-header :is(.nav_logo, .nav_toggle) {
  color: var(--title-color);
}
/* Header background color of other pages */
.header-pages {
  background: var(--body-color);
}

.header-pages :is(.nav_logo, .nav_toggle, .change-theme) {
  color: var(--title-color);
}
/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: background-color.4s, box-shadow 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px rgba(42, 8, 145, 0.3);
}
/*=============== HOME ===============*/
.home {
  position: relative;
  border-bottom: 8px solid var(--first-color);
}

.home_rectangle {
  width: 100%;
  height: 220px;
  background: var(--first-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home_container {
  padding-block: 1rem 3rem;
}

.home_perfil {
  justify-self: center;
}

.home-content {
  row-gap: 3rem;
}

.home_data {
  row-gap: 0.75rem;
  text-align: center;
}

.home_name {
  font-size: var(--biggest-font-size);
}

.home_profession {
  font-size: var(--h2-font-size);
}

.home_social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.home_social-link {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color 0.5s;
}

.home_social-link:hover {
  color: var(--first-color);
}

.home_button {
  justify-self: center;
}
/*=============== ABOUT ===============*/
.about_page {
  padding-bottom: 4rem;
}

.about_perfil {
  justify-self: center;
}

.about_content {
  row-gap: 4rem;
}

.about_data {
  row-gap: 2rem;
}

.about_info {
  row-gap: 0.75rem;
  text-align: center;
}

.about_name {
  font-size: var(--h2-font-size);
}

.about_profession {
  font-size: var(--h2-font-size);
}

.about_description b {
  color: var(--first-color);
}

.about_button {
  justify-self: center;
}

.about_skills-title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.about_skills-img {
  width: 35px;
  transition: transform 0.4s;
}

.about_skills-img:hover {
  transform: translateY(-0.5rem);
}

.about_skills-content {
  grid-template-columns: repeat(5, max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem 1.5rem;
}
/*=============== SERVICES ===============*/
.services_container {
  row-gap: 2rem;
}

.services_card {
  background: var(--container-color);
  padding: 3.5rem 1.5rem;
  box-shadow: 0 12px 24px var(--shadow-color);
  text-align: center;
  transition: background-color 0.4s;
}

.services_icon {
  display: inline-block;
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.services_title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}
.services_description {
  margin-bottom: 3rem;
}

.services_button {
  cursor: pointer;
}

.services_modal {
  position: fixed;
  inset: 0;
  background-color: rgba(42, 8, 145, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  display: grid;
  place-items: center;
  padding: 2rem 1.5rem;
  opacity: 0;
  visibility: hidden;
  z-index: var(--z-modal);
  transition: opacity 0.4s, visibility 0.4s;
}

.services_modal-content {
  max-height: 420px;
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 1.5rem;
  border-bottom: 6px solid var(--first-color);
  overflow: auto;
}

.serivces_modal-content::-webkit-scrollbar {
  width: 0.6rem;
}

.services_modal-content::-webkit-scrollbar-thumb {
  background-color: var(--text-color-light);
}

.services_modal-title {
  font-size: var(--h2-font-size);
  margin-bottom: 2.5rem;
}

.services_modal-list {
  margin-left: 1rem;
}

.services_modal-item {
  text-align: initial;
  list-style: disc;
}

.services_modal-item::marker {
  color: var(--first-color);
}

.services_modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.8rem;
  color: var(--first-color);
  cursor: pointer;
}
/* Active modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*=============== TESTIMONIAL ===============*/
.testimonial_container {
  position: relative;
}

.testimonial_swiper {
  padding-bottom: 2rem;
}

.testimonial_card {
  background-color: var(--container-color);
  padding: 2rem 1.25rem 2.5rem 1.25rem;
  border-inline: 8px solid var(--first-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  text-align: center;
  transition: background-color 0.4s;
}

.testimonial_border {
  width: 100px;
  height: 100px;
  border: 6px solid var(--first-color);
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.testimonial_img {
  filter: grayscale(1);
  transition: filter 0.5s;
  object-fit: cover;
}

.testimonial_name {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.testimonial_card:hover .testimonial_img {
  filter: none;
}
/* Swiper class */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -1rem;
}

.swiper-pagination-bullet {
  background-color: var(--first-color-light);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--first-color);
}

.footer_container {
  padding-block: 4rem 2rem;
  text-align: center;
  row-gap: 5rem;
}

.footer_content {
  row-gap: 2rem;
}

.footer_content a,
.footer_copy {
  color: var(--white-color);
}

.footer_logo {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  justify-content: center;
}

.footer_links,
.footer_social {
  display: flex;
  justify-content: center;
}

.footer_links {
  flex-wrap: wrap;
  gap: 2rem;
}

.footer_link {
  font-weight: var(--font-semi-bold);
}

.footer_logo:hover,
.footer_link:hover {
  text-decoration: underline;
}

.footer_social {
  column-gap: 1rem;
}

.footer_social-link {
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.footer_social-link:hover {
  transform: translateY(-0.25rem);
}

.footer_copy {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-medium);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(var(--hue), 20%, 85%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 20%, 85%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 20%, 55%);
}
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}
/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .services_modal {
    padding-inline: 0.5rem;
  }

  .about_skills-content {
    grid-template-columns: repeat(4, max-content);
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .services_container {
    grid-template-columns: 320px;
  }

  .services_modal-content {
    width: 400px;
  }

  .work_container {
    grid-template-columns: 350px;
    justify-content: center;
  }

  .about_container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .services_container {
    grid-template-columns: repeat(2, 320px);
  }

  .testimonial_container {
    max-width: 700px;
    margin-inline: auto;
  }

  .testimonial_description {
    width: 470px;
    margin-inline: auto;
  }
}
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_menu {
    margin-left: auto;
  }

  .nav_list {
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
  }

  .change-theme {
    color: var(--title-color);
  }

  .perfil {
    width: 500px;
    height: 500px;
    border-width: 15px;
  }

  .perfil_content {
    width: 360px;
    height: 360px;
    border-width: 20px;
  }

  .perfil_img {
    width: 300px;
  }

  .home_rectangle {
    width: 30vw;
    height: 100%;
  }

  .home_container {
    position: relative;
    grid-template-columns: 500px 300px;
    align-items: center;
    column-gap: 4rem;
    padding-block: 3.5rem 8rem;
  }

  .home_content {
    row-gap: 4rem;
  }

  .home_data {
    row-gap: 1rem;
    text-align: initial;
  }

  .home_social {
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    top: -4rem;
    bottom: 0;
    right: 0;
  }

  .home_social-link {
    color: var(--first-color);
  }

  .home_button {
    justify-self: flex-start;
  }

  .services_container {
    grid-template-columns: repeat(3, 345px);
  }

  .services_card {
    padding-block: 4.5rem;
  }

  .services_modal-content {
    max-height: 480px;
    padding: 5.5rem 2rem;
  }

  .services_modal-close {
    font-size: 2rem;
  }

  .testimonial_card {
    padding: 3rem 3.5rem;
  }
  .testimonial_border {
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
  }

  .contact_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 25rem;
    padding-block: 1rem 5rem;
  }

  .contact_container .section__title {
    text-align: initial;
    margin: 0;
  }

  .footer_container {
    row-gap: 6rem;
    padding-block: 3.5rem;
  }

  .footer_content {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  .footer_logo {
    font-size: var(--h2-font-size);
  }

  .footer_links {
    column-gap: 1.5rem;
  }
  .footer_social {
    column-gap: 1.5rem;
  }

  .footer_social {
    column-gap: 1.5rem;
  }

  .scrollup {
    right: 3rem;
  }

  .about_container {
    grid-template-columns: 500px 440px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 2rem;
  }

  .about_data {
    row-gap: 3.5rem;
  }

  .about_info {
    text-align: initial;
  }

  .about_button {
    justify-self: flex-start;
  }

  .about_skills-title {
    text-align: initial;
  }

  .about_skills-content {
    grid-template-columns: repeat(7, max-content);
    justify-content: initial;
  }

  .about_skills-img {
    width: 40px;
  }
}

@media screen and (min-width: 1500px) {
  .home_rectangle {
    width: 33vw;
  }
}
/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  .home_rectangle {
    width: 40vw;
  }

  .home {
    max-width: 1440px;
    margin-inline: auto;
    border-right: 8px solid var(--first-color);
  }

  .home_rectangle {
    width: 23vw;
  }
}
